{% extends 'base.html' %}
{% load sass_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CLUSTER</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
    <link href="{% sass_src '_base.scss' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <main>
        <!-- <p>Welcome to Cluster, {% if user.is_authenticated %}{{ user.username }}{% else %}visitor{% endif %}!</p>
        {% if user.is_authenticated %}
        <h1 class="x-large">Cluster Connector</h1>
        Log in to see the news!
        {% endif %} -->
     </main>
        {% endblock %}
</body>
</html>